/* Layout Styles Baby */

.navbar-font{
/*	font-family: 'Permanent Marker', cursive;
*/	/*font-family: 'Patrick Hand', cursive;*/
		font-family: 'Coming Soon', cursive;

}

.container {
	font-family: 'Coming Soon', cursive;
}

#sign-in-hero-img{
	width: 100%;
}

.devise-links {
	margin-top: 15px;
}