/* Layout Styles Baby */

.navbar-font{
	font-family: 'Permanent Marker', cursive;
	/*font-family: 'Patrick Hand', cursive;*/
}

.container {
	font-family: 'Coming Soon', cursive;
}

#sign-in-hero-img{
	width: 100%;
}